.fssr {
  font-size: smaller;
}
.fslr {
  font-size: larger;
}
.fsxxs {
  font-size: xx-small;
}
.fsxs {
  font-size: x-small;
}
.fss {
  font-size: small;
}
.fsm {
  font-size: medium;
}
.fsl {
  font-size: large;
}
.fsxl {
  font-size: x-large;
}
.fsxxl {
  font-size: xx-large;
}

