@import "../int/break.css";

.ha {
  height: auto;
}
.h25p {
  height: 25%;
}
.h50p {
  height: 50%;
}
.h75p {
  height: 75%;
}
.h100p {
  height: 100%;
}


@media (--break-medium) {
  .ham {
    height: auto;
  }
  .h25m {
    height: 25%;
  }
  .h50m {
    height: 50%;
  }
  .h75m {
    height: 75%;
  }
}

@media (--break-large) {
  .hal {
    height: auto;
  }
  .h25l {
    height: 25%;
  }
  .h50l {
    height: 50%;
  }
  .h75l {
    height: 75%;
  }
}

